#main-boxes-row {
    background: var(--grey-row-bg-color);
    padding-bottom: 1px;
}

#main-boxes {
    width: 92%;
    margin: -50px auto 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#main-boxes h4 {
    text-align: center;
    text-transform: uppercase;
    color: var(--title-font-color);
    font-style: italic;
    font-weight: 600;
}
#main-boxes a {
    color: var(--main-boxes-link-color);
    text-transform: uppercase;
    font-style: italic;
    transition: none;
}
#main-boxes i {
    color: var(--link-color);
    font-size: 2.5rem;
}
#main-boxes > div {
    background: var(--main-boxes-bg-color);
    padding: 50px;
    box-shadow: 0 2px 18px var(--main-boxes-box-shadow-color);
    transition: var(--base-transition);
    position: relative;
    text-align: center;
    overflow: hidden;
    display: flex;
}
#main-boxes > div p {
    text-align: center;
}
#main-boxes > div::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    background: var(--main-boxes-hover-bg-color);
    backdrop-filter: blur(3px);
    z-index: 1;
}
#main-boxes > div::after {
    background-blend-mode: multiply;
    background: url('../images/main_box_bg.webp');
    background-size: cover;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity .2s ease, margin .4s ease;
}
#main-boxes > div:first-child {
    border-radius: 4px 0 0 4px;
}
#main-boxes > div:last-child {
    border-radius: 0 4px 4px 0;
}
#main-boxes > div:hover {
    transform: translate(0, -20px);
}
#main-boxes > div:hover::before,
#main-boxes > div:hover::after {
    opacity: 1;
}
#main-boxes > div:hover::after {
    margin: -8px;
}

.main-box-content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#main-boxes > div:hover h4 {
    color: var(--main-boxes-boxes-hover-title-color);
}
#main-boxes > div:hover a {
    color: var(--main-boxes-hover-link-color);
}
#main-boxes > div:hover i {
    color: var(--main-boxes-hover-link-color);
}

.main-box-content p:last-child {
    padding-top: 20px;
    margin-top: auto;
}



#fitness-classes-row {
    background: var(--grey-row-bg-color);
}
#fitness-classes {
    width: 92%;
    margin: 0 auto;
    padding: 15px 0;
    display: grid;
    grid-template-columns: 2fr 3fr 300px;
    align-items: center;
    gap: 30px;
}
#fitness-title-div {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
#fitness-title {
    color: var(--fitness-title-color);
}
#fitness-color-title {
    background-image: var(--gradient-title-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


#coach-row {
    background: var(--grey-row-bg-color);
}
#coaches {
    width: 92%;
    margin: 0 auto;
    padding: 15px 0 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

#coaches > div {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
#coaches > div::before {
    position: absolute;
    content: attr(data-title);
    bottom: 40px;
    color: var(--coach-title-color);
    z-index: 1;
    transition: var(--base-transition);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.coach-img {
    position: relative;
    line-height: 0;
}
.coach-img > img {
    height: 450px;
    object-fit: cover;
    width: 100%;
    object-position: top;
}
.coach-img::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--coach-img-before-bg-color);
    transition: all .2s ease-in-out;
}

.coach-details {
    position: absolute;
    opacity: 0;
    bottom: -200px;
    transition: var(--base-transition);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.coach-details h4 {
    color: var(--link-color);
    text-transform: uppercase;
    padding: 0 20px;
    font-weight: 600;
}
.coach-details p {
    padding: 0 20px;
    text-align: center;
}
.coach-details a {
    margin-top: auto;
    padding: 25px 20px;
    z-index: 1;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    width: 100%;
    background-color: var(--coach-link-bg-color);
    text-align: center;
    color: var(--coach-link-color);
    text-transform: uppercase;
}
.coach-details a:hover {
    background: var(--coach-link-hover-bg-color);
}

#coaches > div:hover::before {
    opacity: 0;
}
#coaches > div:hover .coach-img::before {
    background-color: var(--coach-img-hover-before-bg-color);
}
#coaches > div:hover .coach-details {
    bottom: 0;
    opacity: 1;
}


#recent-blogs {
    width: 92%;
    margin: 0 auto;
    padding: 50px 0;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px 100px 400px;
}
#recent-blogs > div {
    overflow: hidden;
    position: relative;
}
#recent-blogs > div:nth-child(even) {
    grid-row: span 2;
}
#recent-blogs > div:nth-child(5) {
    order: 5;
}
.blog-pic {
    position: relative;
}
.blog-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
.blog-pic::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--coach-img-before-bg-color);
    transition: all .2s ease-in-out;
}

.blog-details {
    position: absolute;
    width: 100%;
    bottom: 0;
}
#recent-blogs .blog-details h3 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-family: var(--title-font-family);
}
#recent-blogs > div:nth-child(even) .blog-details,
#recent-blogs > div:nth-child(even) .blog-details h3 {
    color: var(--blog-even-color);
}
#recent-blogs > div:nth-child(odd) .blog-details h3 {
    color: var(--title-font-color)
}
.blog-title .date {
    color: transparent;
    -webkit-text-stroke: 1px var(--title-font-color);
}
#recent-blogs > div:nth-child(odd) .blog-title {
    background: var(--blog-odd-title-bg-color);
}
#recent-blogs > div:nth-child(even) .blog-title .date {
    -webkit-text-stroke: 1px var(--blog-even-date-border-color)
}



@media screen and (max-width: 980px) {
    #main-boxes {
        grid-template-columns: repeat(2, 1fr);
    }
    #main-boxes > div:first-child {
        border-radius: 4px 0 0 0;
    }
    #main-boxes > div:nth-child(2) {
        border-radius: 0 4px 0 0;
    }
    #main-boxes > div:nth-child(3) {
        border-radius: 0 0 0 4px;
    }
    #main-boxes > div:last-child {
        border-radius: 0 0 4px 0;
    }
    #main-boxes > div:hover {
        transform: translate(0, 0);
    }

    #fitness-classes {
        grid-template-columns: 1fr;
    }

    #coaches {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    #main-boxes {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    #coaches {
        grid-template-columns: 1fr;
    }
}
